@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid ms-2 ">
    <div class="mt-5 d-flex">
        <div class="d-flex justify-content-start">
            <img  class="img-fluid" src="/images/user.png" alt="Alternate Text" width="356" />

        </div>
        <div class="align-content-center mb-5">
            <h4 class="fs-4  text-capitalize"> full Custom Identity user management </h4>
            <p class="text-black-50 fs-5">with this system you can login with phone number or Email or Username <br /> you can login or singin in Facebook or Google Account </p>
        </div>

    </div>
    <div class="ms-4 mt-5 d-flex">

        <div class="align-content-center mb-5">
            <h4 class="fs-4  text-capitalize"> Identity Role management </h4>
            <p class="text-black-50 fs-5">with this system you can add role and Assigning roles to users ,show all users roles  </p>
        </div>
        <div class="d-flex justify-content-start">
            <img class="img-fluid lh-sm" src="/images/id-card (1).png" alt="Alternate Text" width="356"  />

        </div>
    </div>
</div>

